body{
    font-family: fantasy ;
    font-size: large;
    text-align: center;
}

#header{
    border: black solid 1px;
    width: 101vw;
    height: 8vh;
    margin-left: -1vw;
    text-align: center;
    background-color: white;
    
}

a{
    margin-top: 0;
    text-decoration: none;
    color: black;
    margin-left: 5vw;
    margin-top: 0;
    font-size: x-large;
    font-variant: fantasy;
    line-height: 7vh;
}

#quiz1{
    position: relative;
    display: inline-block;
    margin-top: 0;
    text-decoration: none;
    color: black;
    margin-left: 5vw;
    margin-top: 0;
    font-size: x-large;
    font-variant: fantasy;
    line-height: 5.5vh;
}

#quiz1:hover{
    color: red;
}
#vdrop{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#quiz1:hover #vdrop{
    display: block;
}

#foto {
    margin-left: -5.0vw;
}
#quiz2{
    position: absolute;
    margin-top: 0;
    text-decoration: none;
    color: black;
    margin-left: 5vw;
    margin-top: -10;
    font-size: x-large;
    font-variant: fantasy;
    display: inline-block;
    line-height: 6.7vh;
}


#adrop{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#quiz2:hover #adrop{
    display: block;
}

#foto1 {
    margin-left: -5.0vw;
}
#gamelog{
    position: absolute;
    width: 67px;
    margin-left: -18vw;
}


button{
    width: fit-content;
    height: 5vh;
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 20%;
}

#uitleg{
    text-align: center;
    margin-top: 5%;

}

body{
    padding: 0;
    margin: 0;    
    width:100vw;
    height: 100vh;  
}
    
#score{
     float: right;
    }


#uitleg{
    display: block;
}

#vraag1{
    display: none;
}

#vraag2{
    display: none;
}

#vraag3{
    display: none;
}

#vraag4{
    display: none;
}

#vraag5{
    display: none;
}

#vraag6{
    display: none;
}

#vraag7{
    display: none;
}

#vraag8{
    display: none;
}

#vraag9{
    display: none;
}

#vraag10{
    display: none;
}


