body{
    font-family: fantasy ;
    font-size: large;
}

#header{
  border: black solid 1px;
  width: 101vw;
  height: 12.5vh;
  margin-left: -1vw;
  text-align: center;
  background-color: white;
  
}

#link1{
  margin-top: 0;
  text-decoration: none;
  color: black;
  margin-left: 5vw;
  margin-top: 0;
  font-size: x-large;
  font-variant: fantasy;
  line-height: 7vh;
}

#quiz1{
  position: relative;
  display: inline-block;
  margin-top: 0;
  text-decoration: none;
  color: black;
  margin-left: 5vw;
  margin-top: 0;
  font-size: x-large;
  font-variant: fantasy;
  line-height: 5.5vh;
}

#quiz1:hover{
  color: red;
}
#vdrop{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#quiz1:hover #vdrop{
  display: block;
}

#foto {
  margin-left: -5.0vw;
}
#quiz2{
  position: absolute;
  margin-top: 0;
  text-decoration: none;
  color: black;
  margin-left: 5vw;
  margin-top: -10;
  font-size: x-large;
  font-variant: fantasy;
  display: inline-block;
  line-height: 6.7vh;
}


#adrop{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#quiz2:hover #adrop{
  display: block;
}

#foto1 {
  margin-left: -5.0vw;
}
#gamelog{
  position: absolute;
  width: 67px;
  margin-left: -18vw;
}

.intro {
    display: grid;
    grid-template-columns: auto 35% auto;
    background-color: white;
    padding: 10px;
  }
  
  #infotekst, .Infofoto {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  #Infotekst{
      width: 20vw;
  }

  #jp{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 75vh;
  }

#consoles{
    width: 50vh;
    height: 50vh;
}

#quizzen{
 
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
 
  }

#consoleQuiz{
  width: 40%;
  height: auto;
  /*border: solid black 3px;*/
  margin-top: 5%;
  margin-left: 25%;
  text-align: center;
}

#gameQuiz{
  width: 40%;
  height: auto;
  /*border: solid black 3px;*/
  margin-left: 25%;
  margin-top: 5%;
  text-align: center;
}

button{
  width: fit-content;
  height: 10%;
  text-align: center;
  background-color: black;
  color: white;
  margin-bottom: 20%;
  
}

#link{
  text-decoration: none;
  font-family: fantasy;
  color: white;
}

footer{
  position:absolute;
background-color: black;
margin-left: -0.7%;
width: 100%;
height: fit-content;

}